$bg-primary-dark: #5c5757;
$bg-primary-light: #746e6e;

$border-shadow-dark: rgba(0, 0, 0, 0.25);
$border-light-opace: rgba(255, 253, 253, 0.35);
$border-light: rgba(255, 253, 253, 0.75);
$border-red: #924377;
$border-red-hover: #9e2475;

$pink-light: #706b6e;

$text-color: white;

$errorColor: #ed9ed1;
