$bg-primary-dark: #4a484b;
$bg-primary-light: #5f5c61;

$border-dark-opace: rgba(0, 0, 0, 0.25);
$border-dark: rgba(0, 0, 0, 0.65);
$border-light-opace: rgba(255, 253, 253, 0.35);
$border-light: rgba(255, 253, 253, 0.75);
$border-violet: #600b70;
$border-violet-hover: #741188;

$pink-light: #706b6e;

$text-color: white;

$errorColor: #ed9ed1;
